* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    background-color: red;
}

div {

    width: 250px;
    height: 250px;
    border: 2px solid #000;;
    
}



h2 {
    color: red;
    font-weight: bold;
}

div {

    width: 250px;
    height: 250px;
    border: 1px solid red;
    
}